<div class="ok-mosk">
  <div class="ok-con">
    <div class="ok-con-head ta-c p-r">
      <a ng-click="bot=false"><img src="image/cc.png" alt=""></a>
      <span class="d-b">$10</span>
    </div>
    <div class="ok-con-centre">
      <div class="ok-rewu ta-c">
            <span>任务</span>
            <p>任务说明</p>
            <p>任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务任务</p>
      </div>
      <a class="ta-c jrw" ng-click="bot=false">接任务</a>
      <a class="ta-c ">追加挑战</a>
    </div>
  </div>
</div>
