<div class="det">
  <div class="detlist" ui-sref="detcontent({id:2})">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>总目标:100盒</p>
    <p>已&nbsp;&nbsp;买:10盒</p>
    <p>剩&nbsp;&nbsp;余:10盒</p>
    <p>排&nbsp;&nbsp;名:第一名</p>
  </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:2})">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>总目标:100盒</p>
    <p>已&nbsp;&nbsp;买:10盒</p>
    <p>剩&nbsp;&nbsp;余:10盒</p>
    <p>排&nbsp;&nbsp;名:第一名</p>
  </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:2})">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>总目标:100盒</p>
    <p>已&nbsp;&nbsp;买:10盒</p>
    <p>剩&nbsp;&nbsp;余:10盒</p>
    <p>排&nbsp;&nbsp;名:第一名</p>
  </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:2})">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>总目标:100盒</p>
    <p>已&nbsp;&nbsp;买:10盒</p>
    <p>剩&nbsp;&nbsp;余:10盒</p>
    <p>排&nbsp;&nbsp;名:第一名</p>
  </div>
  </div>
  <div class="detlist" ui-sref="detcontent({id:2})">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>总目标:100盒</p>
    <p>已&nbsp;&nbsp;买:10盒</p>
    <p>剩&nbsp;&nbsp;余:10盒</p>
    <p>排&nbsp;&nbsp;名:第一名</p>
  </div>
  </div>
</div>
