<div class="det">
  <div class="detlist" ui-sref="detcontent">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>功效:【药物成份】黄紟、西青果、桔梗、竹茹、胖大海、橘红、子坑、桑叶、香</p>
    <a>查看详情>></a>
  </div>
  </div>

  <div class="detlist" ui-sref="detcontent">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>功效:【药物成份】黄紟、西青果、桔梗、竹茹、胖大海、橘红、子坑、桑叶、香</p>
    <a>查看详情>></a>
  </div>
  </div>

  <div class="detlist" ui-sref="detcontent">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>功效:【药物成份】黄紟、西青果、桔梗、竹茹、胖大海、橘红、子坑、桑叶、香</p>
    <a>查看详情>></a>
  </div>
  </div>

  <div class="detlist" ui-sref="detcontent">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>功效:【药物成份】黄紟、西青果、桔梗、竹茹、胖大海、橘红、子坑、桑叶、香</p>
    <a>查看详情>></a>
  </div>
  </div>
  <div class="detlist" ui-sref="detcontent">
    <div class="det-list-bg">
    <img src="image/listImg.png" alt="">
    <span  class="ta-c">桂龙咳喘宁片</span>
    <p>功效:【药物成份】黄紟、西青果、桔梗、竹茹、胖大海、橘红、子坑、桑叶、香</p>
    <a>查看详情>></a>
  </div>
  </div>
</div>
