<div class="det">
  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <img src="image/ts-yao.png" alt="">
    <div class="det-name">药品名称药品名称药品名称</div>
    <div class="det-jieshou ta-c">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <img src="image/ts-yao.png" alt="">
    <div class="det-name">药品名称药品名称药品名称</div>
    <div class="det-jieshou ta-c">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <img src="image/ts-yao.png" alt="">
    <div class="det-name">药品名称药品名称药品名称</div>
    <div class="det-jieshou ta-c">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <img src="image/ts-yao.png" alt="">
    <div class="det-name">药品名称药品名称药品名称</div>
    <div class="det-jieshou ta-c">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <img src="image/ts-yao.png" alt="">
    <div class="det-name">药品名称药品名称药品名称</div>
    <div class="det-jieshou ta-c">未接受</div>
    </div>
  </div>
</div>
