<div class="det">
  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <div class="det-heshu ta-c p-a">50盒</div>
    <img src="image/ts-yao.png" alt="">
    <div class="det-jieshou ta-c p-a">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <div class="det-heshu ta-c p-a">50盒</div>
    <img src="image/ts-yao1.png" alt="">
    <div class="det-jieshou ta-c p-a">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <div class="det-heshu ta-c p-a">50盒</div>
    <img src="image/ts-yao.png" alt="">
    <div class="det-jieshou ta-c p-a">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <div class="det-heshu ta-c p-a">50盒</div>
    <img src="image/ts-yao1.png" alt="">
    <div class="det-jieshou ta-c p-a">未接受</div>
    </div>
  </div>

  <div class="detlist" ui-sref="detcontent({id:1})">
    <div class="det-list-bg p-r">
    <div class="det-heshu ta-c p-a">50盒</div>
    <img src="image/ts-yao.png" alt="">
    <div class="det-jieshou ta-c p-a">未接受</div>
    </div>
  </div>
</div>
