<div class="home-list">
  <div class="home-list-head">
    <span></span>活动中心
  </div>
  <div class="home-list-content">
    <div class="home-lico-item" ui-sref="task">
      <img src="image/home1.png" alt="">
      <span class="ta-c">最新任务</span>
    </div>
    <div class="home-lico-item">
      <img src="image/home2.png" alt="">
      <span class="ta-c">热点任务</span>
    </div>
    <div class="home-lico-item" ui-sref="process">
      <img src="image/home3.png" alt="">
      <span class="ta-c">活动进程</span>
    </div>
    <div class="home-lico-item">
      <img src="image/home4.png" alt="">
      <span class="ta-c">活动排行</span>
    </div>
    <div class="home-lico-item">
      <img src="image/home5.png" alt="">
      <span class="ta-c">活动收益</span>
    </div>
    <div class="home-lico-item">
      <img src="image/home6.png" alt="">
      <span class="ta-c">培训攻略</span>
    </div>
    <div class="home-lico-item">
      <img src="image/home7.png" alt="">
      <span class="ta-c">经验分享</span>
    </div>
    <div class="home-lico-item">
      <img src="image/home8.png" alt="">
      <span class="ta-c">我的回答</span>
    </div>
  </div>
</div>
