<div class="menlist">
  <ul>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
    <li ui-sref="menfpct">
      <img src="image/menList.png" alt="">
      <p class="p-1">某某某门店1</p>
      <p class="p-2">分配数量</p>
      <img src="image/mensj.png" alt="">
    </li>
  </ul>
</div>
