<div class="user-content" style="padding-top:2.4rem">
  <!-- <div class="user-jbzj">
    <span class="f-l">得到金币总计</span>
    <span class="f-r">200$</span>
  </div> -->
 <div class="user-list p-r"  ui-sref="pxcontent">
<img src="image/peixun.png" >
<p class="renwu">一大类(考试名称)</p>
<p style="margin-top:0.2rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">总浏览人次:800</span></p>
<p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<img class="ycj" src="image/io44.png" alt="" class="p-a">
 </div>


 <div class="user-list p-r"  ui-sref="pxcontent">
<img src="image/peixun.png" >
<p class="renwu">一大类(考试名称)</p>
<p style="margin-top:0.2rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">总浏览人次:800</span></p>
<p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<img class="ycj" src="image/io44.png" alt="" class="p-a">
 </div>

 <div class="user-list p-r" ui-sref="pxcontent">
<img src="image/peixun.png">
<p class="renwu">一大类(考试名称)</p>
<p style="margin-top:0.2rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">总浏览人次:800</span></p>
<p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<img class="ycj" src="image/io55.png" alt="" class="p-a">
 </div>
