<div class="phlist">
  <div class="user-list p-r" style="height:5.7rem;" ui-sref="peigr">
 <img src="image/ui-img.png" style="padding-top:1rem">
 <p class="renwu">阿莫西林胶囊</p>
 <p style="margin-top:0.8rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">5/20</span><span class="io-span" style="margin-left:7.8rem;font-size:0.8rem;"><img class="io-img" style="padding-right:.2rem;" src="image/ys-ph3.png" alt="">90%</span></p>
 <p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
  </div>

  <div class="user-list p-r" style="height:5.7rem;" ui-sref="peigr">
 <img src="image/ui-img.png" style="padding-top:1rem">
 <p class="renwu">阿莫西林胶囊</p>
 <p style="margin-top:0.8rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">5/20</span><span class="io-span" style="margin-left:7.8rem;font-size:0.8rem;"><img class="io-img" style="padding-right:.2rem;" src="image/ys-ph3.png" alt="">90%</span></p>
 <p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
  </div>

  <div class="user-list p-r" style="height:5.7rem;" ui-sref="peigr">
 <img src="image/ui-img.png" style="padding-top:1rem">
 <p class="renwu">阿莫西林胶囊</p>
 <p style="margin-top:0.8rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">5/20</span><span class="io-span" style="margin-left:7.8rem;font-size:0.8rem;"><img class="io-img" style="padding-right:.2rem;" src="image/ys-ph3.png" alt="">90%</span></p>
 <p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
  </div>

  <div class="user-list p-r" style="height:5.7rem;" ui-sref="peigr">
 <img src="image/ui-img.png" style="padding-top:1rem">
 <p class="renwu">阿莫西林胶囊</p>
 <p style="margin-top:0.8rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">5/20</span><span class="io-span" style="margin-left:7.8rem;font-size:0.8rem;"><img class="io-img" style="padding-right:.2rem;" src="image/ys-ph3.png" alt="">90%</span></p>
 <p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
  </div>

  <div class="user-list p-r" style="height:5.7rem;" ui-sref="peigr">
 <img src="image/ui-img.png" style="padding-top:1rem">
 <p class="renwu">阿莫西林胶囊</p>
 <p style="margin-top:0.8rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">5/20</span><span class="io-span" style="margin-left:7.8rem;font-size:0.8rem;"><img class="io-img" style="padding-right:.2rem;" src="image/ys-ph3.png" alt="">90%</span></p>
 <p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
  </div>

  <div class="user-list p-r" style="height:5.7rem;" ui-sref="peigr">
 <img src="image/ui-img.png" style="padding-top:1rem">
 <p class="renwu">阿莫西林胶囊</p>
 <p style="margin-top:0.8rem"><span class="io-span"><img class="io-img" src="image/io11.png" alt="">5/20</span><span class="io-span" style="margin-left:7.8rem;font-size:0.8rem;"><img class="io-img" style="padding-right:.2rem;" src="image/ys-ph3.png" alt="">90%</span></p>
 <p style="margin-top:0.2rem"><span class=" io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
  </div>
</div>
