<div class="user-content" style="padding-top:2.4rem">
  <!-- <div class="user-jbzj">
    <span class="f-l">得到金币总计</span>
    <span class="f-r">200$</span>
  </div> -->
 <div class="user-list p-r" >
<img src="image/ui-img.png">
<p class="renwu">阿莫西林胶囊</p>
<p style="font-size:0.8rem;color:#fd613d;">奖金:<span>500元</span></p>
<p><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div class="lj-type p-a ta-c" style="display:none">已领奖</div>
<div class="lqjl p-a ta-c">领取奖励</div>
 </div>


 <div class="user-list p-r" >
<img src="image/ui-img.png">
<p class="renwu">阿莫西林胶囊</p>
<p style="font-size:0.8rem;color:#fd613d;">奖金:<span>500元</span></p>
<p><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div class="lj-type p-a ta-c" style="display:none">已领奖</div>
<div class="lqjl p-a ta-c">领取奖励</div>
 </div>

 <div class="user-list p-r">
<img src="image/ui-img.png">
<p class="renwu">阿莫西林胶囊</p>
<p style="font-size:0.8rem;color:#fd613d;">奖金:<span>500元</span></p>
<p><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div class="lj-type p-a ta-c" style="display:none">已领奖</div>
<div class="lqjl p-a ta-c">领取奖励</div>
 </div>
</div>
