<div class="user-content">
<div class="user-jbzj">
  <span class="f-l">损失金币总计</span>
  <span class="f-r">200$</span>
</div>
 <div class="user-list p-r">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p><span class="f-l">很遗憾此任务已经到期~</span><span class="ry-jb f-r">你已经错失10金币</span></p>
<div class="ry-type p-a ta-c">已过期</div>
 </div>


 <div class="user-list p-r">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p><span class="f-l">很遗憾此任务已经到期~</span><span class="ry-jb f-r">你已经错失10金币</span></p>
<div class="ry-type p-a ta-c">已过期</div>
 </div>

 <div class="user-list p-r">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p><span class="f-l">很遗憾此任务已经到期~</span><span class="ry-jb f-r">你已经错失10金币</span></p>
<div class="ry-type p-a ta-c">已过期</div>
 </div>
</div>
