<div class="user-content">
<div class="user-list" ui-sref="details({id:1})">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p>一共XX个品类,共需要销售XX盒(后台数据)</p>
</div>

<div class="user-list" ui-sref="details({id:1})">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p>一共XX个品类,共需要销售XX盒(后台数据)</p>
</div>

<div class="user-list" ui-sref="details({id:1})">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p>一共XX个品类,共需要销售XX盒(后台数据)</p>
</div>

<div class="user-list" ui-sref="details({id:1})">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p>一共XX个品类,共需要销售XX盒(后台数据)</p>
</div>

<div class="user-list" ui-sref="details({id:1})">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p>一共XX个品类,共需要销售XX盒(后台数据)</p>
</div>

<div class="user-list" ui-sref="details({id:1})">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p>一共XX个品类,共需要销售XX盒(后台数据)</p>
</div>

<div class="user-list" ui-sref="details({id:1})">
<img src="image/imglist.png">
<p class="renwu">任务</p>
<p>任务截止日期:后台数据</p>
<p>一共XX个品类,共需要销售XX盒(后台数据)</p>
</div>
</div>
