<div class="user-content" style="padding-top:2.4rem">
<!-- <div class="user-jbzj">
  <span class="f-l">损失金币总计</span>
  <span class="f-r">200$</span>
</div> -->
 <div class="user-list p-r" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu">阿莫西林胶囊</p>
<p style="font-size:0.8rem;">损失:<span>50元</span></p>
<p><span class="f-l io-span"><img class="io-img" src="image/ioh2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div class="ry-type p-a ta-c">已过期</div>
 </div>


 <div class="user-list p-r" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu">阿莫西林胶囊</p>
<p style="font-size:0.8rem;">损失:<span>50元</span></p>
<p><span class="f-l io-span"><img class="io-img" src="image/ioh2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div class="ry-type p-a ta-c">已过期</div>
 </div>

 <div class="user-list p-r" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu">阿莫西林胶囊</p>
<p style="font-size:0.8rem;">损失:<span>50元</span></p>
<p><span class="f-l io-span"><img class="io-img" src="image/ioh2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div class="ry-type p-a ta-c">已过期</div>
 </div>
</div>
