<div class="user-content">
<div class="user-list" ui-sref="detsales">
<img src="image/imglist.png">
<p class="renwu ph"><span class="f-l">该任务名称</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l">剩余天数:XX天(后台)</span><span class="f-r">剩余数量:X盒</span></p>
<p class="ph" style="margin-top:0;"><span class="f-r">获得金币:50</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="detsales">
<img src="image/imglist.png">
<p class="renwu ph"><span class="f-l">该任务名称</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l">剩余天数:XX天(后台)</span><span class="f-r">剩余数量:X盒</span></p>
<p class="ph" style="margin-top:0;"><span class="f-r">获得金币:50</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="detsales">
<img src="image/imglist.png">
<p class="renwu ph"><span class="f-l">该任务名称</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l">剩余天数:XX天(后台)</span><span class="f-r">剩余数量:X盒</span></p>
<p class="ph" style="margin-top:0;"><span class="f-r">获得金币:50</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="detsales">
<img src="image/imglist.png">
<p class="renwu ph"><span class="f-l">该任务名称</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l">剩余天数:XX天(后台)</span><span class="f-r">剩余数量:X盒</span></p>
<p class="ph" style="margin-top:0;"><span class="f-r">获得金币:50</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="detsales">
<img src="image/imglist.png">
<p class="renwu ph"><span class="f-l">该任务名称</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l">剩余天数:XX天(后台)</span><span class="f-r">剩余数量:X盒</span></p>
<p class="ph" style="margin-top:0;"><span class="f-r">获得金币:50</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="detsales">
<img src="image/imglist.png">
<p class="renwu ph"><span class="f-l">该任务名称</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l">剩余天数:XX天(后台)</span><span class="f-r">剩余数量:X盒</span></p>
<p class="ph" style="margin-top:0;"><span class="f-r">获得金币:50</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="detsales">
<img src="image/imglist.png">
<p class="renwu ph"><span class="f-l">该任务名称</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l">剩余天数:XX天(后台)</span><span class="f-r">剩余数量:X盒</span></p>
<p class="ph" style="margin-top:0;"><span class="f-r">获得金币:50</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>
</div>
