<div class="user-content" style="padding-top:2.4rem">
<div class="user-list"  ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu ph"><span class="f-l">阿莫西林胶囊</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l"><img src="image/io1.png" alt="">5/20</span><span class="f-r"><img src="image/io3.png" alt="">50</span></p>
<p class="ph" style="margin-top:0;"><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu ph"><span class="f-l">阿莫西林胶囊</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l"><img src="image/io1.png" alt="">5/20</span><span class="f-r"><img src="image/io3.png" alt="">50</span></p>
<p class="ph" style="margin-top:0;"><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu ph"><span class="f-l">阿莫西林胶囊</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l"><img src="image/io1.png" alt="">5/20</span><span class="f-r"><img src="image/io3.png" alt="">50</span></p>
<p class="ph" style="margin-top:0;"><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu ph"><span class="f-l">阿莫西林胶囊</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l"><img src="image/io1.png" alt="">5/20</span><span class="f-r"><img src="image/io3.png" alt="">50</span></p>
<p class="ph" style="margin-top:0;"><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu ph"><span class="f-l">阿莫西林胶囊</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l"><img src="image/io1.png" alt="">5/20</span><span class="f-r"><img src="image/io3.png" alt="">50</span></p>
<p class="ph" style="margin-top:0;"><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu ph"><span class="f-l">阿莫西林胶囊</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l"><img src="image/io1.png" alt="">5/20</span><span class="f-r"><img src="image/io3.png" alt="">50</span></p>
<p class="ph" style="margin-top:0;"><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>

<div class="user-list" ui-sref="category">
<img src="image/ui-img.png">
<p class="renwu ph"><span class="f-l">阿莫西林胶囊</span><span class="f-r">任务完成率:<i>20%</i></span></p>
<p class="ph"><span class="f-l"><img src="image/io1.png" alt="">5/20</span><span class="f-r"><img src="image/io3.png" alt="">50</span></p>
<p class="ph" style="margin-top:0;"><span class="f-l io-span"><img class="io-img" src="image/io2.png" alt="">2017.05.16  8:00--2017.09.16 21:00</span></p>
<div ng-class="{progress: true, 'progress-striped': true}">
  <div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
    <div ng-if="vm.showLabel">{{vm.value}}%</div>
  </div>
</div>
</div>
</div>
