.dettion{
  background-color: @textColor;
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  .mt(90);
  .pt(25);
  img{
  .ml(40);
  .w(289);
  .h(261);
}
ul{
  .mt(0);
  .mr(15);
  padding: 0;
  li:first-child{
    .h(30);
    .fs(20);
    .mt(0);
    border-bottom: 2px  dashed #d6d6d6;
  }
  li{
    .mt(5);
     .ml(16);
    .mb(5);
    .fs(16);

    list-style: none;
    span:first-child{
      vertical-align: top;
      .w(100);
      display: inline-block;
    }
    span:last-child{
      .w(300);
      display:inline-block;
    }
  }
}
.dettion-bottom{
  margin: 0;
  a{
    display: inline-block;
    background-color: #24a6d0;
    .fs(26);
    .w(136);
    .h(50);
    .lh(50);
    border-radius: 8px;
    .ml(40);
    color: #fff;
    z-index: 100;
  }
  a:nth-child(2){
    .ml(11);
  }
  .yaocativt{
    background-color: #8754ae;
  }
.jinru{
    background-color: @styleColor;
    text-align: center;
    float: right;
    .mr(45);
    .mt(35);
  }
  li:first-child{
    border-bottom: none;
    .mt(50);
     .ml(16);
    .mb(15);
    .fs(26);
    height: auto;
  }
  li{
    .mt(15);
    .mb(15);
    .fs(26);
    height: auto;
    span:first-child{
      vertical-align: top;
      .w(156);
      display: inline-block;
    }
    span:last-child{
      .w(510);
      display:inline-block;
    }
  }
  .dettion-border{
    width: 90%;
    .h(4);
    background-color: #9bc11f;
    margin: -1px auto;
  }
}
}
