.dettion{
  background-color: @textColor;
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  .mt(90);
  .pt(25);
  img{
  .ml(40);
  .w(289);
  .h(261);
}
ul{
  .mt(0);
  .mr(15);
  padding: 0;
  li:first-child{
    .h(30);
    .fs(20);
    .mt(0);
    border-bottom: 2px  dashed #d6d6d6;
  }
  li{
    .mt(5);
     .ml(16);
    .mb(5);
    .fs(16);

    list-style: none;
    span:first-child{
      vertical-align: top;
      .w(100);
      display: inline-block;
    }
    span:last-child{
      .w(300);
      display:inline-block;
    }
  }
}
.dettion-bottom{
  .dettion-it1{
    .h(80);
    .lh(80);

    img{
      .w(36);
      .h(36);
      vertical-align: middle;
      .ml(80);
    }
    span{
      .fs(28);
      vertical-align: middle;
      .ml(24);
    }
    span:last-child{
      .ml(73);
    }
    a{
      display: inline-block;
      .w(34);
      .h(34);
      .lh(34);
      text-align: center;
      .fs(30);
      .ml(0);
    }
    i{
      vertical-align: middle;
      .pr(20);
      .pl(18);
    }
    .dti-ys{
      .ml(230);
    }
  }
  .ys-okk{
    width: 90%;
    margin: 0 auto;
    border-radius: 0.5rem;
    .h(70);
    background-color: #fd613d;
    .lh(70);
    .mt(40);
    color: #fff;
    .fs(30);
  }
  .ys-okk1{
    width: 90%;
    margin: 0 auto;
    border-radius: 0.5rem;
    .h(70);
    .mt(115);
    background-color: #fea700;
    .lh(70);
    color: #fff;
    .fs(30);
  }
.ys-dry{
  .mt(45);
}
  .dettion-it{
    div{
      .mr(55);
      .ml(55);
      .mt(60);
      .fs(28);
    }
  .dettion-item{
    .w(86);
    .h(64);
    span:first-child{
      width: 100%;
      .h(28);
      text-align: center;
      .lh(28);
      .fs(20);
      background-color: #01d077;
      display: block;
      color: #fff;
    }
    span:last-child{
       width: 100%;
       .h(40);
       background-color: #f8f8f8;
       .fs(26);
       .lh(40);
       display: block;
       color: #343434;
       text-align: center;
    }
  }
}
  margin: 0;
  a{
    display: inline-block;
    background-color: #24a6d0;
    .fs(26);
    .w(136);
    .h(50);
    .lh(50);
    border-radius: 8px;
    .ml(40);
    color: #fff;
    z-index: 100;
  }
  a:nth-child(2){
    .ml(11);
  }
  .yaocativt{
    background-color: #8754ae;
  }
.jinru{
    background-color: @styleColor;
    text-align: center;
    float: right;
    .mr(45);
    .mt(35);
  }
  li:first-child{
    border-bottom: none;
    .mt(50);
     .ml(16);
    .mb(15);
    .fs(26);
    height: auto;
  }
  li{
    .mt(15);
    .mb(15);
    .fs(26);
    height: auto;
    span:first-child{
      vertical-align: top;
      .w(156);
      display: inline-block;
    }
    span:last-child{
      .w(510);
      display:inline-block;
    }
  }
  .dettion-border{
    width: 90%;
    .h(4);
    background-color: #9bc11f;
    margin: -1px auto;
  }
}
}
