.lj-type{
  .fs(28);
  top:0.8rem;
  left: 75%;
  color: #e90000;
  .w(146);
  .h(48);
  .lh(48);
  border: 4px solid #e90000;
  transform:skew(14deg, -14deg);
}
.lqjl{
  top:0.8rem;
  left: 76%;
  .w(146);
  .h(56);
  .lh(56);
  .fs(28);
  color: #fff;
  border-radius: 8px;
  background-color: #f35e50;
}
