
.user-content{
  background-color: @diseColor;
  width: 100%;
  min-height: 32rem;
  .pt(90);
  border-top:1px solid #dfdfdf;
.user-list{
  margin: 0 auto;
  border-top:1px solid #dfdfdf;
  .mt(6);
  width: 96%;
  background-color: @textColor;
  .h(204);
  img{
    float: left;
    .w(145);
    .h(145);
    .pt(30);
    .pl(24);
    .pr(24);
    .pb(30);
  }
  p:last-child{
    color: #848484;
  }
  p{
    .fs(25);
    .mt(16);
    .mb(0);
    color: #b3b3b3;
  }
  .renwu{
    .mt(30);
    .fs(32);
    color: #1c1c1c;
  }


}
}
