<div app-head text="'品类进程'"></div>
<div class="ys-category">
<div class="category">
  <div class="category-1">
    <div class="dettion-item d-lb f-l">
      <span>期限<em></em></span>
      <span>25天</span>
    </div>
    <div class="dettion-repat f-l">某某某某（药的名称）</div>
    <div class="clear"></div>
    <div class="category-2">
      <a>门店任务量</a>
    </div>
  </div>

    <ul>
      <li><img src="image/it1.png" alt=""><span>基础数量</span><span>20盒</span><img src="image/chongci.png" style="margin-left:2rem" alt=""><span>冲刺数量</span><span>20盒</span></li>
      <li><img src="image/tiaozhan.png" alt=""><span>挑战数量</span><span>20盒</span></li>
      <li><span>个人任务量</span><span style="margin-left:11.5rem">25盒</span></li>
      <li><img src="image/it4.png" alt=""><span>实时销量</span><span style="margin-left:10.7rem">20盒</span></li>
    </ul>
</div>

<div class="category">
  <div class="category-1">
    <div class="dettion-item d-lb f-l">
      <span>期限<em></em></span>
      <span>25天</span>
    </div>
    <div class="dettion-repat f-l">某某某某（药的名称）</div>
    <div class="clear"></div>
    <div class="category-2">
      <a>门店任务量</a>
    </div>
  </div>

    <ul>
      <li><img src="image/it1.png" alt=""><span>基础数量</span><span>20盒</span><img src="image/chongci.png" style="margin-left:2rem" alt=""><span>冲刺数量</span><span>20盒</span></li>
      <li><img src="image/tiaozhan.png" alt=""><span>挑战数量</span><span>20盒</span></li>
      <li><span>个人任务量</span><span style="margin-left:11.5rem">25盒</span></li>
      <li><img src="image/it4.png" alt=""><span>实时销量</span><span style="margin-left:10.7rem">20盒</span></li>
    </ul>
</div>

<div class="category">
  <div class="category-1">
    <div class="dettion-item d-lb f-l">
      <span>期限<em></em></span>
      <span>25天</span>
    </div>
    <div class="dettion-repat f-l">某某某某（药的名称）</div>
    <div class="clear"></div>
    <div class="category-2">
      <a>门店任务量</a>
    </div>
  </div>

    <ul>
      <li><img src="image/it1.png" alt=""><span>基础数量</span><span>20盒</span><img src="image/chongci.png" style="margin-left:2rem" alt=""><span>冲刺数量</span><span>20盒</span></li>
      <li><img src="image/tiaozhan.png" alt=""><span>挑战数量</span><span>20盒</span></li>
      <li><span>个人任务量</span><span style="margin-left:11.5rem">25盒</span></li>
      <li><img src="image/it4.png" alt=""><span>实时销量</span><span style="margin-left:10.7rem">20盒</span></li>
    </ul>
</div>
</div>
