<div app-head text="'品类'"></div>
<div class="ys-category">
<div class="category">
  <div class="category-1">
    <div class="dettion-item d-lb f-l">
      <span>期限</span>
      <span>25天</span>
    </div>
    <div class="dettion-repat f-l">某某某某（药的名称）</div>
    <div class="clear"></div>
    <div class="category-2">
      <a>任务模式</a>
      <a>门店任务</a>
      <a>个人任务量</a>
    </div>
  </div>

    <ul>
      <li><img src="image/it1.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/chongci.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/tiaozhan.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/it4.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
    </ul>
</div>

<div class="category">
  <div class="category-1">
    <div class="dettion-item d-lb f-l">
      <span>期限</span>
      <span>25天</span>
    </div>
    <div class="dettion-repat f-l">某某某某（药的名称）</div>
    <div class="clear"></div>
    <div class="category-2">
      <a>任务模式</a>
      <a>门店任务</a>
      <a>个人任务量</a>
    </div>
  </div>

    <ul>
      <li><img src="image/it1.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/chongci.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/tiaozhan.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/it4.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
    </ul>
</div>

<div class="category">
  <div class="category-1">
    <div class="dettion-item d-lb f-l">
      <span>期限</span>
      <span>25天</span>
    </div>
    <div class="dettion-repat f-l">某某某某（药的名称）</div>
    <div class="clear"></div>
    <div class="category-2">
      <a>任务模式</a>
      <a>门店任务</a>
      <a>个人任务量</a>
    </div>
  </div>

    <ul>
      <li><img src="image/it1.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/chongci.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/tiaozhan.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
      <li><img src="image/it4.png" alt=""><span>基础数量</span><span>20盒</span><span>10盒</span></li>
    </ul>
</div>
</div>
