<div app-head text="'个人资料'" img="' '" show="'false'"></div>
<div class="list-content">
  <ul>
    <li><span>头像</span>
      <div class="ta-r">
      <img class="me-co-ml" src="image/me-content.png" alt="详细头像">
    </div>
      <div>
      <img class="me-co-ml1" src="image/me-co-sj.png" style="margin-right:0"  alt="">
    </div>
    </li>
    <li><span>手机</span><div class="ta-r phon-mr" >189****9257</div></li>
    <li><span>姓名</span>
      <div class="ta-r">
      <input type="text" placeholder="请填写">
    </div>
      <div class="ta-r">
      <img src="image/me-co-sj.png" alt="">
    </div>
    </li>
    <li><span>邮箱</span>
      <div class="ta-r">
      <input type="text" placeholder="请填写">
    </div>
      <div class="ta-r">
      <img src="image/me-co-sj.png" alt="">
    </div>
    </li>
    <li><span>所属药店</span>
      <div class="ta-r">
      <input type="text" placeholder="请填写">
    </div>
      <div class="ta-r">
      <img src="image/me-co-sj.png" alt="">
    </div>
    </li>
    <li><span>我的职称</span>
      <div class="ta-r">
      <input type="text" placeholder="中医销售员">
    </div>
      <div class="ta-r">
      <img src="image/me-co-sj.png" alt="">
    </div>
    </li>
  </ul>
</div>
