<div app-head text="'门店分配'" img="' '" show="'false'"></div>
<div class="men-mdmc">
  <div class="men-icon"></div>门店名称门店名称
</div>
<ul class="men-yg">
  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>

  <li class="men-yg-li">
    <img src="image/menList1.png" alt="">
    <span>NAMENAME1</span>
    <span>70</span>
  </li>
</ul>
