<div app-head text="'活动排名'"></div>
<section class="date">
			<div class="list">
			<button class="active" id="days">日排名</button>
			<button class="md">周排名</button>
			<button id="months">月排名</button>
			</div>
			<div class="parts" >
				<div ng-click="md=!md">
				<span id="partSpan"  >门店</span>
				<image src="image/act_arrow.png" alt="" />
			</div>
				<ul id="partUl" ng-show="md" style="display:block">
					<li class="partUl-list" value="门店">门店</li>
					<li class="partUl-list" value="公司">公司</li>
				</ul>
			</div>


		</section>
    <section class="day">
			<div class="list_day">
			<button>23日</button>
			<button class="active md">24日</button>
			<button>25日</button>
			</div>
		</section>
		<div class="list-content-tu">
    <section class="list_num">
    <div class="list_people">
      <image src="image/act_list1.png" alt="" />
      <image src="image/act_photo.png" alt="" />
      <div>
        <p>姓名</p>
        <p>成都市武侯区</p>
      </div>
      <div>
        销量
      </div>
    </div>
  </section>
  <section class="list_num">
			<div class="list_people">
				<image src="image/act_list2.png" alt="" />
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					50盒
				</div>
			</div>
		</section>
    <section class="list_num">
			<div class="list_people">
				<image src="image/act_list3.png" alt="" />
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
		<section class="list_num">
			<div class="list_people">
				<span>4</span>
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
		<section class="list_num">
			<div class="list_people">
				<span>5</span>
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
		<section class="list_num">
			<div class="list_people">
				<span>6</span>
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
		<section class="list_num">
			<div class="list_people">
				<span>7</span>
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
		<section class="list_num">
			<div class="list_people">
				<span>7</span>
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
		<section class="list_num">
			<div class="list_people">
				<span>7</span>
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
		<section class="list_num">
			<div class="list_people">
				<span>7</span>
				<image src="image/act_photo.png" alt="" />
				<div>
					<p>姓名</p>
					<p>成都市武侯区</p>
				</div>
				<div>
					销量
				</div>
			</div>
		</section>
	</div>
